body{
    color: #FFFFFF;
}

section:nth-of-type(even){
    color: #333333;
}

.my_green-bg{
    background-color: #1abc9c;
}

.my_grey-bg{
    background-color: #3a546d;
}

.my_petrol-bg{
    background-color: #2c3e50;
}

#start img{
    width: 250px;
}

img{
    width: 100%;
    border-radius: 20px;
}

#start .my_h-line,
#about .my_h-line{
    width: 100px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

#portfolio .my_h-line,
#contact .my_h-line{
    width: 100px;
    height: 3px;
    background-color: #2c3e50;
    border-radius: 3px;
}

#portfolio .i,
#contact .i{
    color: #2c3e50;
}

i{
    font-size: 1.5rem;
}

.my_btn-form{
    background-color: #1abc9c;
    color: white;
}

.my_social-media{
    width: 50px;
    height: 50px;
}

